{% extends 'shop/base.html' %}
{% load shop_tags %}
{% load static %}
{% block content %}
<div class="section">
    <div class="container">
        <div class="row">
            <h1>{{h1}}</h1>
            <p>Контент сторінки</p>
        </div>
        <div class="row">
            <div class="shiping-details" id="shipping-info">
                <div class="col-md-7">
                    <!-- Billing Details -->
                    <div class="section-title">
                        <h3 class="title">Дані для доставки</h3>
                    </div>
                    <form method="post" id="form">
                        {% csrf_token %}
                        {% for f in form %}
                        <div class="form-group">
                            {% if f.label == 'Користувач' or f.label == 'Замовлення'%}
                            <p class="order-form">{{ f }}</p>
                            {% else %}
                            <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                            <p class="order-form">{{ f }}</p>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </form>
                </div>
                <!-- /Billing Details -->
            </div>
            <div class="col-md-5 order-details">
                <div class="section-title text-center">
                    <h3 class="title">Ваше замовлення:</h3>
                </div>
                <div class="order-summary">
                    <div class="order-col">
                        <div><strong>Товар</strong></div>
                        <div><strong>Вартість</strong></div>
                    </div>
                    <div class="order-products">
                        {% for item in items %}
                        <div class="order-col">
                            <div><a href="{{ item.product.get_absolute_url }}">{% if item.product.photo %}<img
                                    src="{{ item.product.photo.url }}" class="cart-img" alt="">{% endif %}</a></div>
                            <div>{{ item.quantity }} x <a href="{{ item.product.get_absolute_url }}">{{ item.product.title }}</a></div>
                            <div>{{ item.product.price }}</div>
                            <div>{{ item.get_total }}</div>
                        </div>
                        {% endfor %}
                        <div class="order-col">
                            <div><strong>Всього товарів:</strong></div>
                            <div><strong>{{ order.get_cart_items}}</strong></div>
                        </div>
                    </div>
                    <div class="order-col">
                        <div><strong>Загальна вартість:</strong></div>
                        <div><strong class="order-total">{{ order.get_cart_total}} ₴</strong></div>
                    </div>
                    <button class="primary-btn order-submit" form="form" id="form-button" type="submit" name="submit">
                        Замовити
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
