{% extends 'shop/base.html' %}
{% block content %}
<div class="section">
    <div class="container">
        <div class="row">
            <h1>{{h1}}</h1>
            <p>Зв'язатись з нами:</p>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div style="text-align: center;">
                    <p><a href="mailto:admin@stickersplt.com.ua"><i style="color: #0099ff; font-size: 48px; margin: 5%"
                                                                    class="fa fa-envelope-o"></i></a>
                    </p>
                    <p class="primary-btn cta-btn" style="background-color: #15161D">admin@stickersplt.com.ua</p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div style="text-align: center;">
                    <p><a href="tel:+380661723120"><i style="color: #0099ff; font-size: 48px; margin: 5%"
                                                      class="fa fa-phone"></i></a></p>
                    <p class="primary-btn cta-btn" style="background-color: #15161D">066-172-31-20</p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div style="text-align: center;">
                    <p><a href="https://www.instagram.com/stickers_plt/" target="_blank"><i
                            style="color: #0099ff; font-size: 48px; margin: 5%"
                            class="fa fa-brands fa-instagram"></i></a></p>
                    <p class="primary-btn cta-btn" style="background-color: #15161D"> stickers_plt</p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div style="text-align: center;">
                    <p><a href="https://t.me/stickersplt"><i style="color: #0099ff; font-size: 48px; margin: 5%"
                                                             class="fa fa-telegram"></i></a></p>
                    <p style="background-color: #15161D" class="primary-btn cta-btn">@stickers_plt</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
