{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<div class="section">
    <div class="container">
        <div class="row">
            <h1>{{h1}}</h1>
        </div>
        <div class="row">
            <p class="par">Після заповнення форми замовлення і його підтвердження, ми зв’яжемось з Вами в найближчий час для
                уточнення даних для відправки, способу оплати та позицій замовлення.</p>
            <p class="par">Доставка здійснюється компаніями Нова пошта та Укрпошта. Вартість доставки може змінюватись в залежності
                від діючих тарифів компанії-перевізника.</p>
            <p class="par">Будь-ласка, зверніть увагу, що замовлення на суму до 100 грн. здійснюються лише <b>за умови повної
                передплати </b>(обумовленно недоцільністю відправки замовлення, сума якого нижча за вартість доставки).
            </p>
            <p class="par">Замовлення від 500 грн здійснюються за умови часткової, або повної передплати.</p>
            <hr>
            <h4 class="par">Тарифи компаній-перевізників:</h4>
            <p class="par" style="color: #D10024"><b>Нова пошта</b></p>
            <p class="par">Всі замовлення оформлюються за мінімальним тарифом компанії – 40 грн. (Полтавська область – 35 грн.).
                У випадку накладеного платежу сума збільшується на 20 грн. +2% від суми платежу.</p>
            <p class="par">Приклад:
                Замовлення на суму 190 грн. накладеним платежем складе:
                40 грн. + 20 грн. + 4грн = 64 грн.
                Всього до сплати: 254 грн.</p>
            <p class="par" style="color: #1D1D1D"><b>Укрпошта</b></p>
                <p class="par">Доставка сплачується лише відправником – 25 грн.
                У випадку передплати необхідно сплатити суму замовлення + вартість доставки (25 грн.), тоді при
                отриманні нічого сплачувати не треба.</p>
            <p class="par">Накладений платіж:
                25 грн. доставка + 10 грн. послуга повернення коштів відправнику.</p>
            <p class="par">Якщо Ви з Полтави, готове замовлення можна забрати в ТЦ Метрополітен (вул. Гоголя, 38), 2 поверх,
                магазин мобільних аксесуарів “Aks Case”. Час та день буде повiдомлено у Viber або зручному Вам
                месенджері.</p>
            <hr>
            <p class="par">Більш детальну інформацію Ви можете отримати по телефону, електронній пошті або в будь-якій з
                соцмереж/месенджерів.
                Дякуємо, що залишаєтесь з нами! Ми завжди намагаємось робити для Вас найкращі підборки стікерів на
                будь-який смак!</p>
        </div>
    </div>

</div>
{% endblock %}