{% extends 'shop/base.html' %}
{% load shop_tags %}
{% block content %}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div class="product-preview">
                        {% if product.photo %}
                        <img src="{{ product.photo.url }}" alt="">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    <div class="product-preview">
                        <img src="./img/product01.png" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="./img/product03.png" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="./img/product06.png" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="./img/product08.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">{{ product.title }}</h2>
                    <div>
                        <h3 class="product-price">{{ product.price }}
                        </h3>
                        <span class="product-available">{% if product.in_stock == True %}
                            В наявності
                            {% else %}
                            <span style="color: red"> Немає в наявності</span>
                            {% endif %}</span>
                    </div>
                    <p>{{p.content}}</p>
                    <div class="add-to-cart">
                        {% if product.in_stock == True %}
                        <button  data-product="{{product.id}}"  data-action="add" class="add-to-cart-btn update-cart">
                            <i class="fa fa-shopping-cart"></i>В кошик
                        </button>
                        {% endif %}

                    </div>

                    <ul class="product-links">
                        <li>Розділ:</li>
                        <a href="{{ product.cat.get_absolute_url }}">{{ product.cat }}</a>
                    </ul>

                </div>
            </div>
            <div class="col-md-12">
                <div id="product-tab">
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">Опис товару</a></li>
                        <li><a data-toggle="tab" href="#tab2">Details</a></li>
                    </ul>
                    <div class="tab-content">
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>{{ product.description }}</p>
                                </div>
                            </div>
                        </div>
                        <div id="tab2" class="tab-pane fade in">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Якийсь ще опис</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
