{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<div class="section">
    <div class="container">
        <div class="row">
            <h1>{{h1}}</h1>
            <p>Індивідуальний друк</p>
        </div>
        <div class="row">
            <p class="par">
                Ви можете придбати не тільки вже готові стікери чи стікерпаки, а й замовити друк власних. До друку
                приймаються як Ваші макети, так і є можливість розробки їх нами за Вашими побажаннями.

                Мінімальний тираж для замовлення – 10 екземплярів. Стікер може бути як стандартних форм (квадрат, коло,
                прямокутник), так і з висічкою по контуру.
            </p>
            <p class="par">Ми завжди рекомендуємо робити стікери з білим контуром, бо так, по-перше, зберігається
                класичний вигляд стікера, а, по-друге, наявність білого контуру хоч і незначним чином, але впливає на
                якість поклейки та утримання стікера на поверхні. Робити контур чи ні – лише Ваш вибір і ми виконаємо
                замовлення за Вашими побажаннями.</p>
            <p class="par">Строк виконання замовлення 2-4 робочих дні (залежить від складності роботи та тиражу). Від
                Вас потрібно готове зображення в роздільній здатності не менше 800 пікселів по меншій стороні. Якщо є
                необхідність доробити зображення для надання йому індивідуальності – ми з радістю допоможемо Вам в
                цьому.</p>
            <h4 class="par">Вимоги до макету</h4>
            <p class="par">Макет (зображення, яке Ви хочете бачити на готовому стiкерi) має буду у форматi <b>jpeg, png,
                svg, cdr або ai.</b> Формати <b>svg, cdr та ai </b> нададуть змогу вiдтворити Ваш макет на 100%.</p>
            <p class="par">Будь ласка, звернiть увагу: <b style="color: red">наш дизайнер не має магiчних
                здiбностей!</b> Скрiн скрiну скрiну 200х200 px. не пiдходить для друку!</p>
            <p class="par">Ваше зображення повинно мати розмiр щонайменше 800 пiкселiв по меншiй сторонi.</p>
            <p class="par">Якщо Вам вкрай необхiдне якесь зображення, але якiсного макету Ви не маєте – просто напишiть
                нам про це i ми обговоримо можливiсть його створення з нуля (бо таки трошки магiчних здiбностей ми всеж
                маємо).</p>
            <p class="par">Всі деталі можна обговорити в будь-якій соцмережі чи месенджері, зазначених нижче.</p>
            <p class="par"></p>
            <p class="par"></p>
            <p class="par"></p>
            <p class="par"></p>
        </div>
    </div>
    {% endblock %}


    var markedCheckbox = document.querySelectorAll('input[type="checkbox"]:checked');
